 #interface {
position:fixed;
top:0px;
left:0px;
width: 100%;
height:100%;
min-height:650px;
margin: auto;
z-index: 0;
backface-visibility:hidden;
overflow:hidden;
}
#interface #model, #interface #bg, #emitter, #intro, #interface #content-bg {
position:absolute;
width:auto;
height:auto;
z-index:1;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
backface-visibility:hidden;
}
#intro {
width: 100%;
height:100%;
z-index:50;
}
#interface #video {
display:block;
position:fixed;
top:0px;
width:100%;
height:100%;
margin:auto;
z-index:30;
}
#interface #content-bg {
top:0px;
bottom:0px;
width:100%;
background:rgba(8,6,4,.9);
z-index:35;
}
#interface #particles {
position:absolute;
top:0px;
left:0px;
right:0px;
bottom:0px;
z-index:40;
mix-blend-mode:screen;
backface-visibility: hidden;
transform-style: preserve-3d;
}
#interface #bg {
top:0px;
left:0px;
width:100%;
height:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
#interface #highlight-bg {
position:fixed;
top:0px; left:0px;
width:100%;
height:100%;
margin:auto;
padding:0;
z-index:35;
} #emitter, #preloader, #cover {
position:fixed;
top:0%; left:0%; bottom:0%;
width:100%;
height:100%;
z-index:2500;
overflow:hidden;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
backface-visibility: hidden;
transform-style: preserve-3d;
}
#cover {
z-index:2000;
}
#cover_top_svg, #cover_bottom_svg {
display:block;
position:fixed;
top:0px; left:0px;
width:100%;
height:100%;
}
#preloader {
background:#5a003c;
}
.preloader {
position:absolute;
top:50%;
left:50%;
width:160px;
height:160px;
margin:-80px auto auto -80px;
text-align:center;
background:url(images/logo.png) no-repeat center rgba(0,0,0,.1) !important;
background-size:140px !important;
border-radius:50%;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
z-index:10;
}
.particle1, .particle2, .particle3 {
position:absolute;
width:20%;
height:20%;
max-width:100px;
max-height:100px;
background:url(images/feather1.png) no-repeat center !important;
background-size:100px !important;
backface-visibility: hidden;
transform-style: preserve-3d;
}
.particle1 {
max-width:100px;
max-height:100px;
background:url(images/feather1.png) no-repeat center !important;
background-size:contain !important;
}
.particle2 {
max-width:150px;
max-height:150px;
background:url(images/feather2.png) no-repeat center !important;
background-size:contain !important;
}
.particle3 {
max-width:200px;
max-height:200px;
background:url(images/feather3.png) no-repeat center !important;
background-size:contain !important;
} #border-top-left, #border-top-right, #border-bottom-left, #border-bottom-right, #border-top, #border-bottom, #border-left, #border-right {
display:block;
position:fixed;
perspective: 1000px;
transform:translate3d(0,0,0);
z-index:2075;
}
#border-top-left, #border-top-right, #border-bottom-left, #border-bottom-right {
top:0px;
left:0px;
width:75px;
height:75px;
background:url(images/border-corner.png) no-repeat center;
background-size:75px;
transform: scaleY(1) scaleX(1);
}
#border-top-right {
left:auto;
right:0px;
transform: scaleY(1) scaleX(-1);
}
#border-bottom-left {
top:auto;
bottom:0px;
transform: scaleY(-1) scaleX(1);
}
#border-bottom-right {
top:auto;
left:auto;
right:0px;
bottom:0px;
transform: scaleY(-1) scaleX(-1);
}
#border-top {
top:7px;
left:7px;
right:7px;
bottom:auto;
height:1px;
background-image:linear-gradient(to right, rgba(255,200,75,1), rgba(255,220,75,1));
mix-blend-mode: screen;
}
#border-bottom {
top:auto;
left:7px;
right:7px;
bottom:7px;
height:1px;
background-image:linear-gradient(to left, rgba(255,200,75,1), rgba(255,220,75,1));
}
#border-left {
top:7px;
left:7px;
right:auto;
bottom:7px;
width:1px;
background-image:linear-gradient(to bottom, rgba(255,200,75,1), rgba(255,220,75,1));
}
#border-right {
top:7px;
left:auto;
right:7px;
bottom:7px;
width:1px;
background-image:linear-gradient(to top, rgba(255,200,75,1), rgba(255,220,75,1));
} #costumes {
padding:0px;
}
#costumes .column-quarter {
position:relative;
float:left;
clear:none;
width:48%;
min-height:24%;
margin:1%;
z-index:100;
}
#costumes .costume-clear {
display:none;
visibility:hidden;
clear:none;
}
#costumes .panel {
background:none !important;
}
#costumes .panel > a {
display:block;
top:0%;
left:0%;
right:0%;
bottom:0%;
width:100%;
height:100%;
z-index:10;
border-radius:0%;
opacity:.9;
overflow:hidden;
transition:all ease-in-out .5s;
}
#costumes .panel > a:hover {
opacity:1;
}
.costume img {
display:block;
width:100%;
backface-visibility:hidden;
}
.overlay {
position:absolute;
bottom:10px;
width:100%;
padding:3px;
font-size:.7em;
text-align:center;
background:rgba(50,10,30,.5);
border-radius:5px;
opacity:1;
-webkit-transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
-moz-transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
-o-transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
}
.overlay span {
display:none;
margin:.5em auto;
}
#costumes .more {
position:relative;
width:100%;
margin:20px auto;
text-align:center;
z-index:100;
}
#costumes .sold, .sold {
position:absolute;
top:10%;
left:0%;
width:100%;
height:auto;
font-size:.9em;
text-transform:uppercase;
color:#ffe132;
background:rgba(30,0,0,.75);
background-size:auto;
z-index:100;
border:1px solid rgba(255,235,235,.15);
}
.image {
position:relative;
} body {
background: transparent;
}
.bg0, .bg1, .bg2, .bg3, .bg4 {
position: relative;
padding:2em 20px;
backface-visibility: hidden;
transform-style: preserve-3d;
overflow:hidden;
}
.bg3 {
border-top:1px solid #444;
border-bottom:1px solid #444;
box-shadow:0px 0px 20px rgba(0,0,0,.5);
}
.bg4 {
position: relative;
padding:0em;
}
.background {
position:absolute;
top:0px; left:0px; bottom:0px; right:0px;
width:100%;
height:115%;
z-index:0;
backface-visibility: hidden;
transform-style: preserve-3d;
}
.bg1 .background {
background:url(//zuluinternationalinc.com/2016/wp-content/themes/namaste-v1/images/bg1.jpg) no-repeat bottom right #000;
background-size:cover;
}
.bg2 .background {
background:url(//zuluinternationalinc.com/2016/wp-content/themes/namaste-v1/images/bg2.jpg) no-repeat center #000;
background-size:cover;
}
.bg3 .background {
background:url(//zuluinternationalinc.com/2016/wp-content/themes/namaste-v1/images/bg3.jpg) no-repeat top right #000;
background-size:cover;
}
.bg4 .background {
background:rgba(0,0,0,.75);
}
#primary-content {
border-top: 1px solid rgba(255,200,75,1);
}
#gallery.bg2 {
padding:0em;
background: #000;
border-top:1px solid rgba(255,200,75,1);
}
#sponsors.bg0 {
background:rgba(0,0,0,1);
}
.site-branding img {
width:100%;
max-width:60px;
}
#intro img {
display:block;
position:relative;
width:100%; 
max-width:300px; 
margin:20px auto;
}
.titlebar {
position:relative;
width:100%;
margin:auto;
padding:30px 0;
font-weight:400;
text-align:center;
text-transform:uppercase;
border:none;
overflow:hidden;
backface-visibility:hidden;
} #sponsors img {
width:auto !important;
max-height:60px;
margin:.15em;
}
.mono {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.mono:hover {
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
}
#archive .mono {
border:5px solid rgba(255,210,180,.5);
border-radius:50%;
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
transform:scale(1);
box-shadow:1px 1px 5px rgba(0,0,0,.15);
}
#archive .mono:hover {
border:5px solid #ffe132;
-webkit-filter: grayscale(25%);
filter: grayscale(25%);
transform:scale(1.025);
}
.scroll {
display:block;
clear:both;
width:100%;
max-width:50px !important;
margin:-20px auto;
text-align:center;
background:none !important;
border-radius:50%; mix-blend-mode:overlay;
-webkit-mix-blend-mode:overlay;
}
.buttonBar {
display:none;
visibility:hidden;
}
.mb_YTPlayer {
display: block;
transform: translateZ(0) translate3d(0, 0, 0);
transform-style: preserve-3d;
perspective: 1000;
backface-visibility: hidden;
box-sizing: border-box;
}
.sep {
display:none;
clear:both;
}
#fullpage {
z-index:1;
}
#fp-nav.right {
right:20px !important;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
background:#fff !important;
box-shadow:0 0 20px #fff !important;
}
.frm_dropzone .dz-message {
background:rgba(33,33,33,.5);
border-color:#827362;
} @media only screen and (min-width:600px) {
.desktop {
display: block;
visibility: visible;
}
.mobile {
display: none;
visibility: hidden;
}
h1 {
font-size: 2em;
}
h2 {
font-size: 1.75em;
}
h3 {
font-size: 1.5em;
}
h4 {
font-size: 1.35em;
}
h5 {
font-size: 1em;
}
h6, .small {
font-size: .9em;
}
#intro h1, .subpage #intro h1 {
font-size:3em;
}
#intro h3 {
font-size:1em;
}
.container {
clear: none;
width: 96%;
margin: auto;
padding: 1em 0em;
}
.column-quarter, .column-half, .column-third, .column-fifth, .column-twofifths, .column-threefifths, .column-fourfifths {
float: left;
clear: none;
width: 48%;
margin: 1em 1%;
}
img.alignleft, img.alignright {
width: 100%;
max-width: 500px;
}
.bg1 .alignleft, .bg2 .alignleft {
margin-right:50px;
transform:translateX(-50px);
}
.bg1 .alignright, .bg2 .alignright {
margin-left: 50px;
transform:translateX(50px);
}
.hero {
width:100%;
margin:2% auto;
padding:10px;
}
.sep {
display:inline;
padding:0px 5px;
}
.site-footer .desktop {
display:inline;
}
#fp-nav.right {
right:35px !important;
}
} @media only screen and (min-width:960px) {
body, button, input, select, textarea {
font-size:1em;
line-height:1.75em;
}
.site-branding {
position:fixed;
top:30px;
left:30px;
width:140px;
margin:auto !important;
}
.site-branding img {
max-width:140px;
}
#primary-navigation {
z-index:70;
}
#navigation {
top:30px;
left:auto;
right:40px;
width:100%;
max-width:175px;
padding:0px;
margin:auto !important;
background:none;
z-index:3000;
}
.main-navigation {
top:50%;
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
}
.main-navigation a {
margin:auto;
font-size:1.75em;
line-height:1.25em;
}
.nav-background {
}
.menu-toggle {
position:relative;
left:auto;
right:auto;
margin-left:15px !important;
}
.menu-toggle:before, #social a:before {
display:block;
position:absolute;
top:0px;
left:0px;
width:48px;
height:48px;
background:rgba(0,0,0,0);
border:rgba(0,0,0,0) solid 1px;
border-radius:50%;
content:'';
z-index:-1;
transition:all ease-in-out 1s;
backface-visibility:hidden;
}
.menu-toggle:hover:before, #social a:hover:before {
background:rgba(0,0,0,.25);
border:rgba(100,100,100,.5) solid 1px;
}
#social a img, #navigation img {
max-height: 48px;
margin: auto;
}
h1 {
font-size: 3.5em;
}
h2 {
font-size: 2.5em;
}
h3 {
font-size: 1.75em;
}
h4 {
font-size: 1.5em;
}
#intro h1, .subpage #intro h1 {
font-size:4.5em;
line-height:1em;
letter-spacing:1px;
}
#intro h3 {
font-size:1.3em;
letter-spacing:3px;
margin:auto auto .75em 10px;
}
#intro img {
max-width:400px;
}
.titlebar {
line-height:1.75em;
}
.titlebar:after {
}
#interface {
top:0px;
bottom:0px;
left:0px;
right:0px;
min-height:500px;
z-index:0;
overflow:hidden;
}
.particle {
width:240px;
height:240px;
}
.column-quarter, .column-third, .column-half, .column-twothirds, .column-threequarter, .column-fifth, .column-twofifths, .column-threefifths, .column-fourfifths {
float: left;
clear: none;
}
.column-quarter {
width: 23%;
margin: 2em 1%;
}
.column-third {
width: 31.3333%;
margin: 1em 1%;
}
.column-half {
width: 48%;
margin: 1em 1%;
}
.column-twothirds {
width: 64.666%;
margin: 1em 1%;
}
.column-threequarter {
width: 74.9%;
}
.column-fifth, .column-twofifths, .column-threefifths, .column-fourfifths {
margin: auto;
}
.column-fifth {
width: 20%;
}
.column-twofifths {
width: 40%;
}
.column-threefifths {
width: 60%;
}
.column-fourfifths {
width: 80%;
}
.content-left {
width: 50%;
float: left;
}
.content-right {
width: 50%;
float: right;
}
.content {
padding:1.5em 2em;
}
.v-centered {
top:50%;
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
}
#primary-content {
z-index:20;
border:none;
}
#secondary-content {
z-index:0;
}
#primary-content .subpage.bg1 .container {
width:40%;
margin:auto 5% auto auto;
}
#primary-content .subpage.bg1 .background {
background:none;
}
#intro .align-right {
top:50%;
margin: auto 0% auto auto;
width: 50%;
}
#interface #bg {
background-size:cover;
}
#interface #bg.subpage {
width:50%;
height:133%;
background-size:cover;
border-right:1px solid rgba(255,200,75,1);
box-shadow:10px 0px 1px rgba(0,0,0,.33);
}
#subpage-bg {
position:fixed;
top:0%;
left:50%;
width:50%;
height:110%;
background:url(//zuluinternationalinc.com/2016/wp-content/themes/namaste-v1/images/bg1.jpg) no-repeat bottom right #000;
background-size:cover;
}
.bg1 .alignleft, .bg2 .alignleft {
margin-right:0px;
transform:translateX(-80px);
border:10px solid rgba(255,255,255,.33);
box-shadow:3px 3px 15px rgba(0,0,0,.15);
}
.bg1 .alignright, .bg2 .alignright {
margin-left: 0px;
transform:translateX(80px);
border:10px solid rgba(255,255,255,.33);
box-shadow:3px 3px 15px rgba(0,0,0,.15);
}
.thumbnail {
border:10px solid rgba(255,125,0,.3);
}
#costumes {
position:relative;
margin:auto;
padding:0px;
}
#costumes .container {
width:100%;
}
#fullpage #costumes {
position:relative;
top:0px;
width:100%;
height:100%;
padding:0px 40px;
}
#costumes .column-third {
width:31.33%;
min-height:48%;
margin:1%;
}
#costumes .column-quarter {
width:24.5%;
margin:.25% .25%;
}
#costumes div.column-third .image, #costumes div.column-third .image, #fullpage #highlight-intro .image {
position:fixed;
top:0px;
left:0px;
width:100%;
max-width:none;
height:100%;
max-height:none;
overflow:hidden;
z-index:0;
}
#costumes div.column-third .image img, #fullpage #highlight-intro .image img {
position:relative;
left:50%;
width:100%;
height:auto;
max-width:none;
max-height:none;
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-ms-transform:translateX(-50%);
transform:translateX(-50%);
}	
.overlay {
position:absolute;
top:8.5%; left:8.5%; bottom:8.5%; right:8.5%;
width:auto;
padding:30% 0px 0px;
border-radius:50%;
font-size:.8em;
opacity:0;
z-index:20;
}
.overlay span {
display:inline-block;
}
.image a:hover .overlay, .image:hover .overlay {
opacity:1;
}
#costumes .sold, .sold {
position: absolute;
top:auto;
bottom:10%;
font-size:1.25em;
}
#costumes #c1, #costumes #c2, #costumes #c3 {
z-index:20;
}
#costumes #c4, #costumes #c5, #costumes #c6 {
z-index:10;
} #gallery {
margin:auto auto;
box-shadow:0px 0px 20px rgba(0,0,0,.25);
z-index:5;
}
#gallery.bg2 {
margin:auto;
padding:4px 10px 10px;
}
#gallery.bg2 .gallery {
width:100%;
margin:auto;
padding:0;
}	
.scroll {
max-width:67px !important;
}
#sponsors.bg0 {
margin:auto;
}
#sponsors img {
max-height:90px;
margin:.5em;
}
.site-footer {
position:fixed;
top:50%;
left:-220px;
width:480px;
height:30px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
margin:0px;
z-index:100;
background:none;
border:none;
mix-blend-mode:luminosity;
}
.site-credits, .site-footer .back-to-top {
display:block !important;
width:100%;
margin:auto;
padding:0em; text-align:center;
text-shadow:1px 1px 1px rgba(0,0,0,.25);
}
} @media only screen and (min-width:1080px) {
.main-navigation a {
line-height:1.5em;
}
.container {
width: 100%;
}
.column-half {
width: 48%;
margin: 1em 1%;
}
#subpage .bg2 {
margin:auto;
}
#sponsors {
width:auto;
margin:auto;
}
}
@media only screen and (min-width:1280px) {
#costumes.content-area, #costumes ul {
max-width: 1280px;
}
#primary-content .bg2.costumes, #primary-content .bg2.costumes:before, #primary-content .bg2.costumes:after, #primary-content .bg2.costumes .background {
background:none;
}
#primary-content .bg2.costumes .container {
width:48%;
margin:40px 2% 40px 48%;
}
}
@media only screen and (min-width:1440px) and (min-height:800px) {
#costumes.content-area, #costumes ul {
max-width: 1440px;
}
}
@media only screen and (min-height:900px) {
.site-content {
padding: .5em;
}
} 