 #interface {
position:fixed;
top:0px;
left:0px;
width: 100%;
height:100%;
min-height:650px;
margin: auto;
z-index: 0;
backface-visibility:hidden;
overflow:hidden;
}
#interface #model, #interface #bg, #emitter, #intro, #interface #content-bg {
position:absolute;
width:auto;
height:auto;
z-index:1;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
backface-visibility:hidden;
}
#intro {
width: 100%;
height:100%;
z-index:50;
}
#interface #video {
display:block;
position:fixed;
top:0px;
width:100%;
height:100%;
margin:auto;
z-index:30;
}
#interface #content-bg {
top:0px;
bottom:0px;
width:100%;
background:rgba(8,6,4,.9);
z-index:35;
}
#interface #particles {
position:absolute;
top:0px;
left:0px;
right:0px;
bottom:0px;
z-index:40;
mix-blend-mode:screen;
backface-visibility: hidden;
transform-style: preserve-3d;
}
#interface #bg {
top:0px;
left:0px;
width:100%;
height:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
#interface #highlight-bg {
position:fixed;
top:0px; left:0px;
width:100%;
height:100%;
margin:auto;
padding:0;
z-index:35;
} #emitter, #preloader, #cover {
position:fixed;
top:0%; left:0%; bottom:0%;
width:100%;
height:100%;
z-index:2500;
overflow:hidden;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
backface-visibility: hidden;
transform-style: preserve-3d;
}
#cover {
z-index:2000;
}
#cover_top_svg, #cover_bottom_svg {
display:block;
position:fixed;
top:0px; left:0px;
width:100%;
height:100%;
}
#preloader {
background:#5a003c;
}
.preloader {
position:absolute;
top:50%;
left:50%;
width:160px;
height:160px;
margin:-80px auto auto -80px;
text-align:center;
background:url(images/logo.png) no-repeat center rgba(0,0,0,.1) !important;
background-size:140px !important;
border-radius:50%;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
z-index:10;
}
.particle1, .particle2, .particle3, .particle4, .particle6, .particle7, .particle8 {
position:absolute;
width:20%;
height:20%;
max-width:100px;
max-height:100px;
background:url(images/feather1.png) no-repeat center !important;
background-size:100px !important;
backface-visibility: hidden;
transform-style: preserve-3d;
}
.particle1 {
max-width:100px;
max-height:100px;
background:url(images/feather1.png) no-repeat center !important;
background-size:contain !important;
}
.particle2 {
max-width:150px;
max-height:150px;
background:url(images/feather2.png) no-repeat center !important;
background-size:contain !important;
}
.particle3 {
max-width:200px;
max-height:200px;
background:url(images/feather3.png) no-repeat center !important;
background-size:contain !important;
}
.particle4 {
max-width:170px;
max-height:170px;
background:url(images/feather4.png) no-repeat center !important;
background-size:contain !important;
}
.particle5 {
max-width:180px;
max-height:180px;
background:url(images/feather5.png) no-repeat center !important;
background-size:contain !important;
}
.particle6 {
max-width:190px;
max-height:300px;
background:url(images/feather6.png) no-repeat center !important;
background-size:contain !important;
}
.particle7 {
max-width:180px;
max-height:180px;
background:url(images/feather7.png) no-repeat center !important;
background-size:contain !important;
}
.particle8 {
max-width:150px;
max-height:150px;
background:url(images/feather20.png) no-repeat center !important;
background-size:contain !important;
}
#border-top-left, #border-top-right, #border-bottom-left, #border-bottom-right, #border-top, #border-bottom, #border-left, #border-right {
display:block;
position:fixed;
perspective: 1000px;
transform:translate3d(0,0,0);
z-index:2075;
}
#border-top-left, #border-top-right, #border-bottom-left, #border-bottom-right {
top:0px;
left:0px;
width:75px;
height:75px;
background:url(images/border-corner.png) no-repeat center;
background-size:75px;
transform: scaleY(1) scaleX(1);
}
#border-top-right {
left:auto;
right:0px;
transform: scaleY(1) scaleX(-1);
}
#border-bottom-left {
top:auto;
bottom:0px;
transform: scaleY(-1) scaleX(1);
}


.column-quarter, .column-half, .column-third, .column-fifth, .column-twofifths, .column-threefifths, .column-fourfifths {
float: left;
clear: none;
width: 48%;
margin: 1em 1%;
}
#fp-nav.right {
right:35px !important;
}
} @media only screen and (min-width:960px) {
body, button, input, select, textarea {
font-size:1em;
line-height:1.75em;
}
.site-branding img {
max-width:140px;
}
#primary-navigation {
z-index:70;
}

.menu-toggle {
position:relative;
left:auto;
right:auto;
margin-left:15px !important;
}
.menu-toggle:before, #social a:before {
display:block;
position:absolute;
top:0px;
left:0px;
width:48px;
height:48px;
background:rgba(0,0,0,0);
border:rgba(0,0,0,0) solid 1px;
border-radius:50%;
content:'';
z-index:-1;
transition:all ease-in-out 1s;
backface-visibility:hidden;
}
.menu-toggle:hover:before, #social a:hover:before {
background:rgba(0,0,0,.25);
border:rgba(100,100,100,.5) solid 1px;
}
#social a img, #navigation img {
max-height: 48px;
margin: auto;
}
#intro h1, .subpage #intro h1 {
font-size:4.5em;
line-height:1em;
letter-spacing:1px;
}
#intro h3 {
font-size:1.3em;
letter-spacing:3px;
margin:auto auto .75em 10px;
}
#intro img {
max-width:400px;
}
.titlebar {
line-height:1.75em;
}
.titlebar:after {
}
#interface {
top:0px;
bottom:0px;
left:0px;
right:0px;
min-height:500px;
z-index:0;
overflow:hidden;
}
.particle {
width:240px;
height:240px;
}
.column-quarter, .column-third, .column-half, .column-twothirds, .column-threequarter, .column-fifth, .column-twofifths, .column-threefifths, .column-fourfifths {
float: left;
clear: none;
}
.column-quarter {
width: 23%;
margin: 2em 1%;
}
.column-third {
width: 31.3333%;
margin: 1em 1%;
}
.column-half {
width: 48%;
margin: 1em 1%;
}
.column-twothirds {
width: 64.666%;
margin: 1em 1%;
}
.column-threequarter {
width: 74.9%;
}
.column-fifth, .column-twofifths, .column-threefifths, .column-fourfifths {
margin: auto;
}
.column-fifth {
width: 20%;
}
.column-twofifths {
width: 40%;
}
.column-threefifths {
width: 60%;
}
.column-fourfifths {
width: 80%;
}
.content-left {
width: 50%;
float: left;
}
.content-right {
width: 50%;
float: right;
}
.content {
padding:1.5em 2em;
}
.v-centered {
top:50%;
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
}
#primary-content {
z-index:20;
border:none;
}
#secondary-content {
z-index:0;
}
#primary-content .subpage.bg1 .container {
width:40%;
margin:auto 5% auto auto;
}
#primary-content .subpage.bg1 .background {
background:none;
}
#intro .align-right {
top:50%;
margin: auto 0% auto auto;
width: 50%;
}
#interface #bg {
background-size:cover;
}
#interface #bg.subpage {
width:50%;
height:133%;
background-size:cover;
border-right:1px solid rgba(255,200,75,1);
box-shadow:10px 0px 1px rgba(0,0,0,.33);
}
#subpage-bg {
position:fixed;
top:0%;
left:50%;
width:50%;
height:110%;
background:url(//zuluinternationalinc.com/2016/wp-content/themes/namaste-v1/images/bg1.jpg) no-repeat bottom right #000;
background-size:cover;
}
.bg1 .alignleft, .bg2 .alignleft {
margin-right:0px;
transform:translateX(-80px);
border:10px solid rgba(255,255,255,.33);
box-shadow:3px 3px 15px rgba(0,0,0,.15);
}
.bg1 .alignright, .bg2 .alignright {
margin-left: 0px;
transform:translateX(80px);
border:10px solid rgba(255,255,255,.33);
box-shadow:3px 3px 15px rgba(0,0,0,.15);
}
.thumbnail {
border:10px solid rgba(255,125,0,.3);
}
#costumes {
position:relative;
margin:auto;
padding:0px;
}
#costumes .container {
width:100%;
}
#fullpage #costumes {
position:relative;
top:0px;
width:100%;
height:100%;
padding:0px 40px;
}
#costumes .column-third {
width:31.33%;
min-height:48%;
margin:1%;
}
#costumes .column-quarter {
width:24.5%;
margin:.25% .25%;
}
#costumes div.column-third .image, #costumes div.column-third .image, #fullpage #highlight-intro .image {
position:fixed;
top:0px;
left:0px;
width:100%;
max-width:none;
height:100%;
max-height:none;
overflow:hidden;
z-index:0;
}
#costumes div.column-third .image img, #fullpage #highlight-intro .image img {
position:relative;
left:50%;
width:100%;
height:auto;
max-width:none;
max-height:none;
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-ms-transform:translateX(-50%);
transform:translateX(-50%);
}	
.overlay {
position:absolute;
top:8.5%; left:8.5%; bottom:8.5%; right:8.5%;
width:auto;
padding:30% 0px 0px;
border-radius:50%;
font-size:.8em;
opacity:0;
z-index:20;
}
.overlay span {
display:inline-block;
}
.image a:hover .overlay, .image:hover .overlay {
opacity:1;
}
#costumes .sold, .sold {
position: absolute;
top:auto;
bottom:10%;
font-size:1.25em;
}
#costumes #c1, #costumes #c2, #costumes #c3 {
z-index:20;
}
#costumes #c4, #costumes #c5, #costumes #c6 {
z-index:10;
} #gallery {
margin:auto auto;
box-shadow:0px 0px 20px rgba(0,0,0,.25);
z-index:5;
}
#gallery.bg2 {
margin:auto;
padding:4px 10px 10px;
}
#gallery.bg2 .gallery {
width:100%;
margin:auto;
padding:0;
}	
.scroll {
max-width:67px !important;
}
#sponsors.bg0 {
margin:auto;
}
#sponsors img {
max-height:90px;
margin:.5em;
}
.site-footer {
position:fixed;
top:50%;
left:-220px;
width:480px;
height:30px;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
margin:0px;
z-index:100;
background:none;
border:none;
mix-blend-mode:luminosity;
}
.site-credits, .site-footer .back-to-top {
display:block !important;
width:100%;
margin:auto;
padding:0em; text-align:center;
text-shadow:1px 1px 1px rgba(0,0,0,.25);
}
} @media only screen and (min-width:1080px) {
.main-navigation a {
line-height:1.5em;
}
.container {
width: 100%;
}
.column-half {
width: 48%;
margin: 1em 1%;
}
#subpage .bg2 {
margin:auto;
}
#sponsors {
width:auto;
margin:auto;
}
}
@media only screen and (min-width:1280px) {
#costumes.content-area, #costumes ul {
max-width: 1280px;
}
#primary-content .bg2.costumes, #primary-content .bg2.costumes:before, #primary-content .bg2.costumes:after, #primary-content .bg2.costumes .background {
background:none;
}
#primary-content .bg2.costumes .container {
width:48%;
margin:40px 2% 40px 48%;
}
}
@media only screen and (min-width:1440px) and (min-height:800px) {
#costumes.content-area, #costumes ul {
max-width: 1440px;
}
}
@media only screen and (min-height:900px) {
.site-content {
padding: .5em;
}
} 